.roadmap {
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: all 1s ease;
}
.roadmap {
  background: url('http://extrawall.net/images/wallpapers/378_1920x1080_abstract_city.jpg')
    no-repeat fixed center;
  background-size: cover no-repeat fixed center;
  background-size: cover !important;
  height: 614px;
}

.roadmap::before {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  width: 100%;
}
.roadmap .focus_title {
  background-color: #eaeaea;
}
.structure {
  position: absolute;
  width: 78.9%;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.timeline {
  position: relative;
  bottom: 0;
  margin-top: 37.4%;
  width: 168%;
  height: 0px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 0px solid #fff;
  padding-left: 0%;
}

.date {
  color: #fff;
  float: left;
  width: 150px;
  height: 50px;
}
.date::before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 1px;
  background: rgba(255, 255, 255, 0.7);
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  ); /*Safari 5.1-6*/
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  ); /*Opera 11.1-12*/
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  ); /*Fx 3.6-15*/
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 1)
  ); /*Standard*/
  margin-top: -100vh;
}
p.focus_yr {
  position: absolute;
  top: 0;
  margin-left: -14px;
  padding-top: 10px;
  background-color: transparent;
  cursor: pointer;
}
p.focus_yr::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 3.5px;
}

p.focus_yr::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  top: -5px;
  left: 9px;
}

.goal_wrap {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  top: -100px;
  margin-left: -24px;
  font-size: 24px;
  transition: all 0.5s ease;
}

.goal_wrap:hover {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -30px;
  font-size: 30px;
  cursor: pointer;
}

.goal_wrap.active {
  top: -160px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  font-size: 40px;
  cursor: pointer;
}

.bounce {
  animation: bounce 1s 0.5s;
  transform: scale(0.85);
}

@keyframes bounce {
  0% {
    transform: scale(0.85);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  60% {
    transform: scale(0.6);
    opacity: 1;
  }
  80% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.1);
  }
}

.carousel {
  margin-bottom: auto;
}
.nav-link {
  color: #1f3b42 !important;
}
.navbar-nav {
  margin-left: 13% !important;
}
.mr-auto {
  margin-right: 0px !important;
}
.bg-dark {
  background-color: #eaeaea !important;
  width: 100%;
  margin: 0px auto;
}
.vertical-row {
  float: left;
  height: 230px;
  width: 1px; /* edit this if you want */
  background-color: white;
}
.home_p,
.key_title_h2 {
  font-family: 'Myriad Pro', Myriad, 'Liberation Sans', 'Nimbus Sans L',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nav-item a {
  font-family: 'Skolar Regular', Skolar, 'Liberation Sans', 'Nimbus Sans L',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-brand {
  display: block;
  padding: 0;
  outline: 0;
  width: 8%;
  margin-left: 16%;
}
.navbar-brand img {
  max-width: 100%;
  height: auto;
}
#mc-form input[type='text'],
input[type='email'] {
  border-radius: 0px !important;
  height: 4rem !important;
  border: solid 2px !important;
  text-align: center !important;
}
#mc-form input[type='submit'] {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  border: solid 2px !important;
  border-color: #ffffff;
  height: 4rem !important;
  border-radius: 0px !important;
  padding: 0rem !important;
  line-height: 4rem !important;
}
#mc-form_footer input[type='text'],
input[type='email'] {
  border-radius: 0px !important;
  height: 4rem !important;
  border: solid 2px !important;
  color: 1f3b42;
  width: 380px;
  text-align: center !important;
  padding-bottom: 12px;
  margin-bottom: 10px;
}
#mc-form_footer input[type='submit'] {
  height: 4rem !important;
  line-height: 4rem !important;
}
.carousel-item,
.active {
  background-color: #eaeaea !important;
}

.carousel-heading,
.carousel-text {
  color: #444444;
}
.carousel-indicators {
  position: relative;
  bottom: -190px;
}
.carousel-indicators li {
  border-radius: 12px;
  width: 15px;
  height: 15px;
  background-color: #404040;
  margin-left: 15px;
}
.carousel-indicators .active {
  background-color: red !important;
}
.carousel-caption .text-left {
  top: 37%;
}
.carousel-inner .container {
  margin-top: 25%;
  position: relative;
}
.top_items {
  position: relative;
  margin-left: 42%;
  border: 1px solid;
  width: 17%;
  height: 39%;
}
.fa {
  font-size: 43px;
}
.btn {
  background-color: transparent;
  border: transparent;
  background: none !important;
}
.col-lg-4 {
  color: #eaeaea;
}
.partners_r .rounded-circle {
  border-radius: 0px !important;
}
.carousel-text {
  padding: 16px;
}
.error {
  color: red !important;
}

@media screen and (max-width: 531px) {
  .home_content {
    display: flex;
    flex-flow: column;
  }
  .subscribe_h4 {
    margin-top: 0px;
  }
  .home {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
  }
  .bg-dark {
    width: 100%;
  }
  .carousel-indicators {
    position: relative;
    top: 1%;
  }
  .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
  }
  .carousel-text {
    font-size: 8px;
    padding: 0px;
    min-width: auto;
  }
  .top_items {
    position: relative;
    margin-left: 25%;
    width: 50%;
  }
  .top_items img {
    max-width: 100%;
    max-height: 100%;
  }
  .vertical-row {
    height: 0px;
  }
  .date {
    width: 61px;
  }
  .structure {
    width: 100%;
  }
  .timeline {
    padding-left: 8%;
  }
  .roadmap {
    height: 306px;
  }
  .title_text {
    text-align: center;
    padding-top: 27px;
  }
  .home_right {
    margin-left: 0px !important;
  }
  .home_left {
    margin-right: 0px !important;
    font-size: 2.2rem;
  }
  .carousel-inner {
    height: 365px;
  }
  .carousel-inner .container {
    margin-top: 5%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 50%;
  }
  .carousel-heading {
    margin-right: 30%;
  }
  .carousel-heading h3 {
    font-size: 10px;
  }
  .navbar-brand {
    width: 42%;
  }
}

@media screen and (min-width: 532px) and (max-width: 1024px) {
  .home {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
  }
  .bg-dark {
    min-width: 94%;
    margin: 0 auto;
  }
  .carousel-indicators {
    position: relative;
  }
  .mr-auto {
    font-size: 60%;
  }
  .navbar-brand {
    margin-left: 10%;
  }
  .roadmap {
    height: 474px;
  }
  .structure {
    width: 100%;
  }
  .date {
    width: 82px;
  }
  .carousel-inner .container {
    margin-top: 44%;
  }
  .top_items {
    width: 27%;
    margin-left: 37%;
  }
  .top_items img {
    max-width: 100%;
    max-height: 100%;
  }
  .vertical-row {
    display: none;
  }
}
